<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<context:component-scan base-package="com.hackathon.controller">
	</context:component-scan>

<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		   <property name = "prefix" value = "/" />
      <property name = "suffix" value = ".jsp" />
	</bean>
	
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@192.168.100.198:1521:xe" />
		<property name="username" value="system" />
		<property name="password" value="Newuser123" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"></property>
	</bean>

	<bean id="edao" class="com.hackathon.dao.RegistrationDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	
	<bean id="uploadService" class="com.hackathon.service.FileUploadService"
        autowire="byType"></bean>
        
    <bean id="uploadDao" class="com.hackathon.dao.UploadDAO"
        autowire="byType"></bean>
	
	
	
</beans>
